*{
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    font-family: 'Poppins', 'Arial';
}
.container-preservado{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: white;
    background-color: #041B15;
}
.image-preservado > img{
    border-radius: 10px;
}

.text-preservado{
    max-width: 500px;
    margin-right: 80px;
    text-align: justify;
}

p {
    font-size: 1.25em;
    line-height: 1.6em;
}

.box-container {
    display: flex;
    justify-content: center;
}

.text-preservado2 > h1{
    font-size: 48px;
    text-align: center;
    max-width: 1060px;
    
}

.voltarjardim > a {
    margin-right: 20px;
    padding: 13px 26px;
    color: #0e7e25;
    font-size: 18px;
    border: 2px solid #0e7e25;
    border-radius: 30px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.24);
}

.voltarjardim > a:hover {
    background-color: #1e4e48;
    border-color: #1e4e48;
    color: white;
    transition: background-color .7s, border-color .7s, color .2s;
}


