@media screen and (max-width: 1120px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header {
        border: none;
        padding: 30px 0 0 0;
    }

    #burguer {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #dad8d5;
        padding: 10px;
        cursor: pointer;
    }

    .menu-cadastro {
        padding: 30px;
    }

    .menu {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .menu > li {
        margin: 30px;
    }

    .menu-cadastro > li:not(:last-child) {
        margin-bottom: 35px;
    }

    #menu {
        display: none;
    }

    #menu-cadastro {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .imagem {
        max-width: 450px;
        height: 400px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.8em;
    }

    p {
        font-size: 1.1em;
    }

    .imagem {
        max-width: 350px;
        height: 300px;
        padding: 10px;
    }

    .header > a > img {
        width: 200px;
    }
}