@media screen and (max-width: 1600px) {
    .menu {
        margin: 0%;
    }
}

@media screen and (max-width: 1120px) {
    .header {
        display: block;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .header {
        border: none;
        padding: 30px 0 0 0;
    }

    #burguer {
        display: flex;
        justify-content: center;
        background-color: #dad8d5;
        padding: 10px;
        cursor: pointer;
    }

    .menu-cadastro {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #dad8d5;
    }

    .menu {
        display: block;
        justify-content: center;
        align-items: center;
        background-color: #dad8d5;
    }

    .menu > li {
        padding: 18px;
    }

    .menu-cadastro > li{
        padding: 25px 0;
    }

    #menu {
        display: none;
    }

    #menucadastro {
        display: none;
    }

    .texto-orcamento {
        text-align: center;
        max-width: 700px;
        margin: 0;
        padding: 50px;
    }
}

@media screen and (max-width: 640px) {
    .imagem  {
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.8em;
    }

    p {
        font-size: 1.1em;
    }

    .imagem {
       
    }

    .header > a > img {
        max-width: 200px;
    }

    .footer {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}