main{
    margin: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

div.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.cards section.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(207, 246, 217);
    padding: 32px 16px;
    border-radius: 8px;
    margin-left: 32px;
    max-height: 400px;
    box-shadow: 20px 20px 50px -30px green;
}

div.cards section.card:first-child{
    margin-left: 0;
}


div.cards section.card image{
    width: 64px;
    height: 64px;
}

div.cards section.card img{
    width: 100%;
}

div.cards section.card h3{
    font-size: 100%;
    margin: 16px 0px;
}

div.cards section.card span{
    font-weight: 300px;
    max-width: 240px;
    font-size: 13px;
    margin-bottom: 16px;
}

.a-jardim {
    padding: 13px 26px;
    background-color: #dad8d5;
    color: #0d4a29;
    font-size: 14px;
    border: 2px solid #0d4a29;
    border-radius: 30px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

.a-jardim:hover {
    background-color: #0d4a29;
    color: white;
    transition: background-color .7s, border-color .7s, color .2s;
}


div.cards1 {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
div.cards2 {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}


div.todosCards{
    margin-top: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 1200px;
}

div.cards1 section.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(207, 246, 217);
    padding: 32px 16px;
    border-radius: 8px;
    margin-left: 32px;
    max-height: 400px;
    box-shadow: 20px 20px 50px -30px green;
}

div.cards2 section.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(207, 246, 217);
    padding: 32px 16px;
    border-radius: 8px;
    margin-left: 32px;
    max-height: 400px;
    box-shadow: 20px 20px 50px -30px green;
}

div.cards1 section.card1:first-child{
    margin-left: 0;
}

div.cards2 section.card2:first-child{
    margin-left: 0;
}