@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*
PALETA DE CORES
---------------
#9CFC97  #89c8fd
#6BA368
#0e7e25
#515B3A
#2C423F
#353D2F
#041B15
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.containergrid{
    display: grid ;
    grid-template-columns: 4fr;
    grid-template-rows: 14vh 50vh 10vh;
    grid-template-areas: "header header"
                        "main main"
                        "footer footer";

}

header {
    grid-area: header;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

body, html {
    height: 100vh;
    width: 100vw;
}

.logo-header > a {
    cursor: pointer;
}

.logo-header abbr > a > img {
    width: 250px;
}

.link-menu {
    color: #0e7e25;
    font-size: 18px;
    padding: 13px 26px;
    border-radius: 30px;
}

.link-menu:hover {
    color: #89c8fd;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.24);
    transition: all .3s;
}

.link-cadastro {
    padding: 13px 26px;
    color: #0e7e25;
    font-size: 18px;
    border: 2px solid #0e7e25;
    border-radius: 30px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.link-cadastro:not(:last-child) {
    margin-right: 20px;
}

.link-cadastro:hover {
    background-color: #1e4e48;
    border-color: #1e4e48;
    color: white;
    transition: background-color .7s, border-color .7s, color .2s;
}

main {
    grid-area: main;
    background-color: #041B15;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    columns: 2;
}

.container > .imagem {
    width: 30%;
    
}

.conteudo {
    max-width: 700px;
    padding: 53px 30px;
    color: white;
}

.conteudo > .titulo-com-icone {
    display: flex;
    justify-content: start;
    align-items: center;
}

.conteudo > .titulo-com-icone > h1 {
    display: inline-block;
    font-size: 3.1em;
    margin-top: 25px;
}

.conteudo > p {
    font-size: 1.3em;
    line-height: 35px;
}

footer{
    grid-area: footer;
}