@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.1rem;
    font-family: 'Poppins', 'Arial';
}

body, html {
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr;

    grid-template-areas: 
        'header'
        'main'
        'footer';
}

.header {
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    border-bottom: 20px solid #dad8d5;
}

.header > a > img {
    width: 250px;
}

#burguer {
    display: none;
}

.menu, .menu-cadastro {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    margin-right: 100px;
}

.menu > li > a {
    color: #0e7e25;
    font-size: 18px;
    padding: 13px 26px;
    border-radius: 30px;
}

.menu > li > a:hover {
    color: #041B15;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.24);
    transition: all .3s;
}

.menu-cadastro > li > a {
    margin-right: 20px;
    padding: 13px 26px;
    color: #0e7e25;
    font-size: 18px;
    border: 2px solid #0e7e25;
    border-radius: 30px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.24);
}

.menu-cadastro > li > a:hover {
    background-color: #1e4e48;
    border-color: #1e4e48;
    color: white;
    transition: background-color .7s, border-color .7s, color .2s;
}

main {
    grid-area: main;
}

section > .texto {
    max-width: 580px;
    margin: 50px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

span {
    color: #041B15;
}

p {
    font-size: 1.25em;
    line-height: 1.6em;
}

.flex-verde {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 10px;
    color: white;
    background-color: #041B15;
}

.imagem {
    width: 550px;
    height: 500px;
    border-radius: 30px;
}

.flex-verde > #imagem1{
    background: url(../img/vasos.jpg) no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.flex-branco {
    background-color: #dad8d5;
    display: flex;
    justify-content: center;
}

.flex-branco > .texto {
    text-align: justify;
    color: #041B15;
}

.flex-branco > .texto > p {
    font-size: 1em;
}

.flex-verde > #imagem2 {
    background: url(../img/planta.jpg) no-repeat;
    background-size: cover;
    background-position: left center;
}

.footer {
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-top: 20px solid #dad8d5;
}

.footer > abbr > a > img {
    margin-left: 0px;
    margin-right: 0px;
    width: 60px;
}

.ajuda > li > a {
    font-size: .9em;
    margin: 15px;
    padding: 20px;
    color: #0e7e25;
}

.ajuda > li > a:hover {
    text-decoration: underline;
}

.sociais {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.social {
    width: 40px;
    height: 40px;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.social > a {
    color: #0e7e25;
}

.social:hover {
    background-color: #1e4e48;
    border-color: #1e4e48;
    color: white;
    transition: background-color .7s, border-color .7s, color .2s;
    -webkit-transition: background-color .7s, border-color .7s, color .2s;
    -moz-transition: background-color .7s, border-color .7s, color .2s;
    -ms-transition: background-color .7s, border-color .7s, color .2s;
    -o-transition: background-color .7s, border-color .7s, color .2s;
}

.social:hover > a {
    color: white;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}