@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*
PALETA DE CORES
---------------
#9CFC97  #89c8fd
#6BA368
#0e7e25
#515B3A
#2C423F
#353D2F
#041B15
*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header > a > img {
    width: 250px;
}

.menu, .menu-cadastro {
    display: flex;
    flex-wrap: wrap;
}

.menu > li > a {
    color: #0e7e25;
    font-size: 18px;
    padding: 13px 26px;
    border-radius: 30px;
}

.menu > li > a:hover {
    color: #89c8fd;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.24);
    transition: all .3s;
}

.menu-cadastro > li > a {
    margin-right: 20px;
    padding: 13px 26px;
    color: #0e7e25;
    font-size: 18px;
    border: 2px solid #0e7e25;
    border-radius: 30px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.24);
}

.menu-cadastro > li > a:hover {
    background-color: #1e4e48;
    border-color: #1e4e48;
    color: white;
    transition: background-color .7s, border-color .7s, color .2s;
}

main {
    grid-area: main;
    background-color: #041B15;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    columns: 2;
}

.container > .imagem {
    width: 30%;
    
}

.conteudo {
    max-width: 700px;
    padding: 53px 30px;
    color: white;
}

.conteudo > .titulo-com-icone {
    display: flex;
    justify-content: start;
    align-items: center;
}

.conteudo > .titulo-com-icone > h1 {
    display: inline-block;
    font-size: 3.1em;
    margin-top: 25px;
}

.conteudo > p {
    font-size: 1.3em;
    line-height: 35px;
}

footer{
    grid-area: footer;
}

